[submodule "00-Piscine-C"]
	path = 00-Piscine-C
	url = https://github.com/evertonportela/42cursus-Piscine-C.git
[submodule "00-Warm-Up"]
	path = 00-Warm-Up
	url = https://github.com/evertonportela/42cursus-00-Warm-Up.git
[submodule "01-Libft"]
	path = 01-Libft
	url = https://github.com/evertonportela/42cursus-01-Libft.git
[submodule "02-Get-Next-Line"]
	path = 02-Get-Next-Line
	url = git@github.com:evertonportela/42cursus-02-Get-Next-Line.git
