[submodule "00-Piscine-C"]
	path = 00-Piscine-C
	url = https://github.com/evertonportela/42cursus-Piscine-C.git
[submodule "00-Warm-Up"]
	path = 00-Warm-Up
	url = https://github.com/evertonportela/42cursus-00-Warm-Up.git
[submodule "01-Libft"]
	path = 01-Libft
	url = https://github.com/evertonportela/42cursus-01-Libft.git
[submodule "02-Get-Next-Line"]
	path = 02-Get-Next-Line
	url = git@github.com:evertonportela/42cursus-02-Get-Next-Line.git
[submodule "03-Ft-Printf"]
	path = 03-Ft-Printf
	url = git@github.com:evertonportela/42cursus-03-FT-Printf.git
[submodule "04-Born2BeRoot"]
	path = 04-Born2BeRoot
	url = git@github.com:evertonportela/42cursus-04-Born2BeRoot.git
[submodule "05-Fract-ol"]
	path = 05-Fract-ol
	url = git@github.com:evertonportela/42cursus-05-Fract-ol.git
[submodule "06-Pipex"]
	path = 06-Pipex
	url = git@github.com:evertonportela/42cursus-06-Pipex.git
